# =========================
# DATA (very important)
# =========================

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# NOTEBOOKS
# =========================
.ipynb_checkpoints/

# =========================
# MODEL OUTPUTS
# =========================
*.pt
*.pth

# =========================
# SYSTEM FILES
# =========================
.DS_Store

# Checkpoints
CircuitFormer/ckpts/
*.ckpt
*.pth
